<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ todo_list.name }}</h1>
        <h2>Tasks</h2>
        <p>
          <a href="{% url "todo_list_update" todo_list.id %}">Edit This List</a>
        </p>
        <p>
          <a href="{% url "todo_list_delete" todo_list.id %}">Delete This List</a>
        </p>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>
          </thead>
          <tbody>
            {% for todo_item in todo_list.items.all %}
              <tr>
                <td>
                  <a href="{% url "todo_list_update" todo_item.id %}">{{ todo_item.task }}</a>
                </td>
                <td>{{ todo_item.due_date|date:"m/d/Y H:i" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
